.container {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  }
  

.row {
    margin: 0px;
    background-color: red;
    display: flex;
 
  }

.col {
    margin: 1px;
    padding: 20px;
    background-color: blue;
    display: flex;
    flex: 1;
    min-height: auto;
    /*transition: background-color 25s, opacity 1s; */
  }

  /* .col:hover {
    background-color: red;
    transition: background-color 0.1s, opacity 0.5s;
  } */